:root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}


/* ### GALLERY PAGE ### */
header.header-sm{
    min-height: 60vh;
}
/* gallery */
.gallery-item{
    margin: 2rem 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    cursor: pointer;
}
.gallery-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery-item img{
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.zoom-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover .zoom-icon{
    opacity: 1;
}

/* popular section */
#popular.py-4{
    padding-bottom: 0;
}
.popular-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.popular-item div{
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: -100%;
    width: 100%;
    padding: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item .rating{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0.7rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0;
}
.popular-item:hover div{
    background-color: #fff;
    color: #000;
    bottom: 0;
    opacity: 0.95;
}
